.todo {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  transition: background .3s ease;
  border-bottom: 1px solid $light-grey-border;


  p, input {
    margin: 0;
    font-size: 1.2rem;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.todo__subtext {
  color: #999;
}

.todo-completed {
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}
